<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    {% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block page_title %}reader{% endblock %}</title>

    <link rel="stylesheet" href="{{ find_static('bootstrap.min.css', 'reader') }}">
    <script src="{{ find_static('bootstrap.bundle.min.js', 'reader') }}" defer></script>
    <!-- styles flash if this is deferred  -->
    <script src="{{ find_static('theme.js', 'reader') }}"></script>

    <link rel="stylesheet" href="{{ find_static('bootstrap-icons.min.css', 'reader') }}">

    <link rel="stylesheet" href="{{ find_static('style.css', 'reader') }}">

    <script src="{{ find_static('htmx.min.js', 'reader') }}" defer></script>
    <script src="{{ find_static('response-targets.min.js', 'reader') }}" defer></script>

    {% endblock %}
  </head>
  <body hx-ext="response-targets">


<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">

    <ul class="navbar-nav me-auto flex-row">
      {% block left_navbar %}

      {%- macro nav_item(endpoint, text) -%}
      {%- set active = request.endpoint.endswith(endpoint) -%}
      <li class="nav-item">
        <a href="{{ url_for(endpoint) }}"
          class="nav-link px-2{% if active %} active{% endif %}"
          {% if active %}aria-current="page"{% endif %}
        >{{ text }}</a>
      </li>
      {% endmacro %}
      {{ nav_item('reader.entries', 'entries') }}
      {{ nav_item('reader.feeds', 'feeds') }}
      {{ nav_item('reader.add_feed', 'add') }}

      {% endblock %}
    </ul>

    <button
      class="navbar-toggler" type="button"
      data-bs-toggle="collapse" data-bs-target="#navbar-toggler"
      aria-controls="navbar-toggler" aria-expanded="false" aria-label="toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-toggler">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        {% block left_hidden_navbar %}{% endblock %}
      </ul>

      <ul class="navbar-nav mb-0">
        {% block right_hidden_navbar %}

        <li class="nav-item dropdown">
          <button
            class="btn btn-link nav-link dropdown-toggle d-flex align-items-center"
            type="button" id="theme"
            data-bs-toggle="dropdown" data-bs-display="static"
            aria-expanded="false"  aria-label="toggle theme (auto)">
            <i class="bi bi-circle-half theme-icon-active"></i>
            <span class="d-md-none ms-2" id="theme-text">toggle theme</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end mb-2" aria-labelledby="theme-text">
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center"
                data-bs-theme-value="light" aria-pressed="false">
                <i class="bi bi-sun-fill me-2 opacity-50"></i>
                light
                <i class="bi bi-check2 ms-auto d-none"></i>
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center"
                data-bs-theme-value="dark" aria-pressed="false">
                <i class="bi bi-moon-stars-fill me-2 opacity-50"></i>
                dark
                <i class="bi bi-check2 ms-auto d-none"></i>
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center active"
                data-bs-theme-value="auto" aria-pressed="true">
                <i class="bi bi-circle-half me-2 opacity-50"></i>
                auto
                <i class="bi bi-check2 ms-auto d-none"></i>
              </button>
            </li>
          </ul>
        </li>

        {% endblock %}
      </ul>
    </div>
  </div>
</nav>


<div class="container ms-0 py-3 px-3">

  {% block body %}{% endblock %}

</div>


  </body>
</html>
