{% extends "layout.html" %}

{% import "macros.html" as macros %}


{% block page_title %}Tags{% endblock %}
{% block main_title %}Tags{% endblock %}


{% block body %}

<div id="update-tags">
<ul class="controls">

{# nothing here yet, maybe if we add a sort option #}

{% if error %}
<li class="error"><b>error</b>: {{ error }}
{% endif %}

</ul>
</div>


<ul>

{% for tag in tags %}
<li id="tag-{{ loop.index }}">
    <p>
        <a href="{{ url_for('.feeds', tags=[tag] | tojson) }}">feeds</a> or
        <a href="{{ url_for('.entries', tags=[tag] | tojson) }}">entries</a>
        with
        {% if tag is true %} any tags
        {% elif tag is false %} no tags
        {% else %} <span class="tag">{{ tag }}</span>
        {% endif %}
{% else %}

{% if not error %}
<p>no tags</p>
{% endif %}

{% endfor %}
</ul>

{% endblock %}
