dist: bionic

language: python

python:
    - "3.6"
    - "3.7"
    - "3.8"
    - "3.9"
    - "nightly"
    - "pypy3"  # 3.6, per https://docs.travis-ci.com/user/languages/python/#pypy-support

cache:
    - pip
    - cargo

matrix:
    allow_failures:
        - python: "nightly"

install:
    # cryptography needs rust on pypy
    # https://github.com/pyca/cryptography/issues/5806#issuecomment-776623111
    - >
      test "$TRAVIS_PYTHON_VERSION" = pypy3
      && sh <(curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs) -y
      && export PATH=${PATH}:${HOME}/.cargo/bin
      || true

    - make install-dev
    - pip install codecov

script: make coverage typing

notifications:
    email: false

after_success:
    - codecov
