recursive-include src/reader/_app/templates *
recursive-include src/reader/_app/static *
recursive-include src/reader/_plugins/templates *
include Makefile README.md README.rst CHANGES.rst LICENSE
recursive-include tests *
recursive-include examples *
recursive-include docs *
recursive-include scripts *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-exclude tests *.pyc
recursive-exclude tests *.pyo
recursive-exclude examples *.pyc
recursive-exclude examples *.pyo
prune docs/_build
