recursive-include src/reader/_app/templates *
recursive-include src/reader/_app/static *
recursive-include src/reader/_plugins/templates *
recursive-include src/reader *.pyi
recursive-include src/reader py.typed
include Makefile CHANGES.rst LICENSE tox.ini
recursive-include tests *
recursive-include examples *
recursive-include docs *
recursive-include scripts *
global-exclude *.py[cod]
prune docs/_build
