{% extends "layout.html" %}

{% import "macros.html" as macros %}

{% block page_title %}{% if feed %}Entries for {{ macros.feed_title(feed) }}{% else %}Entries{% endif %}{% endblock %}
{% block main_title %}{% if feed %}Entries for {{ macros.feed_title(feed) }}{% else %}Entries{% endif %}{% endblock %}


{% block body %}

<form action="{{ url_for('.form_api') }}" method="post" id="update-entries">
<small>
{% if feed %}<a href='{{ url_for('.entries') }}'>home</a>{% endif %}

<a href='{{ url_for('.feeds') }}'>feeds</a>

{% set current_what = request.args.get('show', 'unread') %}
{% for what in ['unread', 'read', 'all'] %}
{% set args = request.args.copy() %}
{% set _ = args.setlist('show', [what]) %}
{% if what != current_what %}<a href='{{ url_for('.entries', **args) }}'>{% endif %}
{{- what -}}
{% if what != current_what %}</a>{% endif %}
{% endfor %}

{% if feed %}
<input type="checkbox" name="really" id="really" value="really">
<label for="really">I really want to</label>

{% if current_what != 'read' %}<button type="submit" name="action" value="mark-all-as-read">mark all as read</button>{% endif %}
{% if current_what != 'unread' %}<button type="submit" name="action" value="mark-all-as-unread">mark all as unread</button>{% endif %}
<button type="submit" name="action" value="delete-feed">delete feed</button>

<input type="text" name="feed-title" placeholder="feed title">
<button type="submit" name="action" value="update-feed-title">update feed title</button>

<input type="hidden" name="feed-url" value='{{ feed.url }}'>
<input type="hidden" name="entry-id" value='{{ entries_data | tojson }}'>
<input type="hidden" name="next" value='{{ url_for('.entries', **request.args) }}'>
<input type="hidden" name="next-delete-feed" value='{{ url_for('.entries') }}'>
{% endif %}

</small>
</form>
<br>


{% with messages = get_flashed_messages() %}
{% if messages %}
<p id="messages"><b>{% for message in messages %}{{ message }}. {% endfor %}</b></p>
{% endif %}
{% endwith %}


{% for feed, entry in entries %}

<form action="{{ url_for('.form_api') }}" method="post" id="entry-{{ loop.index }}" class="entry">
<b><a href="{{ entry.link }}">
{%- if entry.title and entry.title.strip() -%}
{{ entry.title }}
{%- else -%}
untitled
{%- endif -%}
</a></b> <br>
<small>{{ macros.feed_link(feed) }}
<span title="{{ entry.updated }}">{{ entry.updated | humanize_naturaltime }}</span>
<a href="{{ url_for('.entries', feed=feed.url) }}">feed</a>

{% if entry.read %}
<button type="submit" name="action" value="mark-as-unread">mark as unread</button>
{% else %}
<button type="submit" name="action" value="mark-as-read">mark as read</button>
{% endif %}

<input type="hidden" name="feed-url" value='{{ feed.url }}'>
<input type="hidden" name="entry-id" value='{{ entry.id }}'>
<input type="hidden" name="next" value='{{ url_for('.entries', **request.args) }}#entry-{{ loop.index if not loop.last else loop.index - 1 }}'>

</small>
</form>


{% if entry.summary %}
<p>{{ entry.summary | striptags | truncate }}</p>
{% elif entry.content %}
    {% set content = (
        ( entry.content | selectattr('type', 'equalto', 'text/html') | first )
        or
        ( entry.content | selectattr('type', 'equalto', 'text/xhtml') | first )
        or
        ( entry.content | selectattr('type', 'equalto', 'text/plain') | first )
    ) %}
    {% if content %}
    <p>{{ content.value | striptags | truncate }}</p>
    {% endif %}
{% endif %}


{% if entry.enclosures %}
<ul>

{% for enclosure in entry.enclosures %}

<li>
<a href="{{ enclosure.href }}">{{ enclosure.href.split('/')[-1].split('?')[0] }}</a>
<small>{{ enclosure.type }}</small>
</li>

{% endfor %}
</ul>
{% endif %}

<br>

{% else %}
<p>no {% if current_what != 'all' %}{{ current_what }} {% endif %}entries for this feed</p>
{% endfor %}

{% endblock %}

