<!doctype html>


<title>Feeds</title>


{% if config.DEBUG  %}
<p style="
color: white;
background: red;
padding: .5rem 1rem;
margin: 0;
position: fixed;
bottom: 0;
right: 0;
"><code>{{ config.READER_DB }}</code></p>
{% endif %}


<h1>Feeds</h1>

<p>
<small>
<a href='{{ url_for('root') }}'>home</a>
</small>
</p>

{% for feed in feeds %}

<form method="post" id="feed-{{ loop.index }}">

<b><a href="{{ feed.link }}">
{%- if feed.title and feed.title.strip() -%}
{{ feed.title }}
{%- else -%}
{{ feed.url }}
{%- endif -%}
</a></b> <br><small><a href="{{ url_for('root', feed=feed.url) }}">entries</a></small>

</form>
<br>

{% endfor %}

