<!doctype html>


<title>Feeds</title>


{% if config.DEBUG  %}
<p style="
color: white;
background: red;
padding: .5rem 1rem;
margin: 0;
position: fixed;
bottom: 0;
right: 0;
"><code>{{ config.READER_DB }}</code></p>
{% endif %}


<h1>Feeds</h1>

<form action="{{ url_for('add_feed') }}" method="post">
<small>
<a href='{{ url_for('root') }}'>home</a>

<input type="text" name="feed-url" id="feed-url" placeholder="feed url">
<button type="submit" name="action" value="add-feed">add feed</button>

<input type="hidden" name="next" value='{{ url_for('feeds', **request.args) }}'>

</small>
</form>
<br>


{% for feed in feeds %}

<form action="{{ url_for('update_feed') }}" method="post" id="feed-{{ loop.index }}">

<b><a href="{{ feed.link }}">
{%- if feed.title and feed.title.strip() -%}
{{ feed.title }}
{%- else -%}
{{ feed.url }}
{%- endif -%}
</a></b> <br>
<small>
<a href="{{ url_for('root', feed=feed.url) }}">entries</a>

<input type="checkbox" name="really" id="really-mark-all-as" value="really">
<label for="really-mark-all-as">I really want to</label>

<button type="submit" name="action" value="delete">delete</button>

<input type="hidden" name="feed-url" value='{{ feed.url }}'>
<input type="hidden" name="next" value='{{ url_for('feeds', **request.args) }}#feed-{{ loop.index if not loop.last else loop.index - 1 }}'>

</small>
</form>
<br>

{% endfor %}

