<!doctype html>


<title>Feeds</title>


{% for feed, entry in entries %}

<p><b><a href="{{ entry.link }}">{{ entry.title }}</a></b> <br>
<small><a href="{{ entry.feed_link }}">{{ feed.title }}</a>
{{ entry.updated | humanize_naturaltime }}</small> </p>

{% if entry.enclosures %}
<ul>

{% for enclosure in entry.enclosures %}

<li>
<a href="{{ enclosure.href }}">{{ enclosure.href.split('/')[-1].split('?')[0] }}</a>
<small>{{ enclosure.type }}</small>
</li>

{% endfor %}
</ul>
{% endif %}

<br>

{% endfor %}
