<!doctype html>


<title>Feeds</title>


{% for feed, entry in entries %}

<p><b><a href="{{ entry.link }}">{{ entry.title }}</a></b> <br>
<small><a href="{{ feed.link }}">{{ feed.title }}</a>
<span title="{{ entry.updated }}">{{ entry.updated | humanize_naturaltime }}<span></small></p>


{% if entry.summary %}
<p>{{ entry.summary | striptags | truncate }}</p>
{% elif entry.content %}
    {% set content = (
        ( entry.content | selectattr('type', 'equalto', 'text/html') | first )
        or
        ( entry.content | selectattr('type', 'equalto', 'text/xhtml') | first )
        or
        ( entry.content | selectattr('type', 'equalto', 'text/plain') | first )
    ) %}
    {% if content %}
    <p>{{ content.value | striptags | truncate }}</p>
    {% endif %}
{% endif %}


{% if entry.enclosures %}
<ul>

{% for enclosure in entry.enclosures %}

<li>
<a href="{{ enclosure.href }}">{{ enclosure.href.split('/')[-1].split('?')[0] }}</a>
<small>{{ enclosure.type }}</small>
</li>

{% endfor %}
</ul>
{% endif %}

<br>

{% endfor %}
