{% extends "layout.html" %}

{% import "macros.html" as macros %}

{% block page_title %}{% if feed %}Entries for {{ macros.feed_title(feed) }}{% else %}Entries{% endif %}{% endblock %}
{% block main_title %}{% if feed %}Entries for {{ macros.feed_title(feed) }}{% else %}Entries{% endif %}{% endblock %}


{% block body %}

<form action="{{ url_for('.form_api') }}" method="post" id="update-entries">
<ul class="controls">

<li>
{% set current_what = request.args.get('show', 'unread') -%}
{%- for what in ['unread', 'read', 'all'] %}
{%- set args = request.args.copy() -%}
{%- set _ = args.setlist('show', [what]) -%}
{%- if what != current_what %}<a href='{{ url_for('.entries', **args) }}'>{% endif -%}
{{- what -}}
{%- if what != current_what %}</a>{% endif %}
{% endfor %}

<li>has enclosures:
{% set current_has_enclosures = request.args.get('has-enclosures') -%}
{%- for has_enclosures in ['yes', 'no', none] -%}
{%- set args = request.args.copy() -%}
{%- if has_enclosures is none -%}
    {%- set _ = args.poplist('has-enclosures') -%}
{%- else -%}
    {%- set _ = args.setlist('has-enclosures', [has_enclosures]) -%}
{%- endif -%}
{%- if has_enclosures != current_has_enclosures %}<a href='{{ url_for('.entries', **args) }}'>{% endif -%}
{{- {none: "don't care"}.get(has_enclosures, has_enclosures) -}}
{%- if has_enclosures != current_has_enclosures %}</a>{% endif %}
{% endfor %}

{% if feed %}
{% set next = url_for('.entries', **request.args) %}

{% if current_what != 'read' %}
{{- macros.confirm_button('mark-all-as-read', 'mark all as read', leave_disabled=true, next=next) -}}
{% endif %}
{% if current_what != 'unread' %}
{{- macros.confirm_button('mark-all-as-unread', 'mark all as unread', leave_disabled=true, next=next) -}}
{% endif %}

{{ macros.confirm_button('delete-feed', 'delete feed', leave_disabled=true, next=url_for('.entries')) }}

{{ macros.text_input_button('update-feed-title', 'update feed title', 'feed-title', 'feed title', leave_disabled=true, next=next) }}

{% endif %}

{% for message in get_flashed_messages_by_prefix(
    'mark-all-as-read',
    'mark-all-as-unread',
    'delete-feed',
    'update-feed-title',
) %}
<li class="error">{{ message }}
{% endfor %}

</ul>


<input type="hidden" name="feed-url" value='{{ feed.url }}'>
<input type="hidden" name="entry-id" value='{{ entries_data | tojson }}'>

</form>


{% for entry in entries %}
{% set feed = entry.feed %}

<div id="entry-{{ loop.index }}" class="entry">

<h2><a href="{{ entry.link }}">
{%- if entry.title and entry.title.strip() -%}
{{ entry.title | safe }}
{%- else -%}
untitled
{%- endif -%}
</a>
</h2>

<form action="{{ url_for('.form_api') }}" method="post">
<ul class="controls">

<li><a href="{{ url_for('.entries', feed=feed.url) }}">{{ macros.feed_title(feed) }}</a>
<li><span title="{{ entry.updated }}">{{ entry.updated | humanize_naturaltime }}</span>

{% set next = url_for('.entries', **request.args) + '#entry-' + ((loop.index if not loop.last else loop.index - 1) | string) %}

{% if entry.read %}
{{ macros.simple_button('mark-as-unread', 'mark as unread', leave_disabled=true, next=next) }}
{% else %}
{{ macros.simple_button('mark-as-read', 'mark as read', leave_disabled=true, next=next) }}
{% endif %}

{% for message in get_flashed_messages_by_prefix(
    ('mark-as-read', feed.url, entry.id),
    ('mark-as-unread', feed.url, entry.id),
) %}
<li class="error">{{ message }}
{% endfor %}

</ul>

<input type="hidden" name="feed-url" value='{{ feed.url }}'>
<input type="hidden" name="entry-id" value='{{ entry.id }}'>

</form>


{% if entry.summary %}
<p>{{ entry.summary | striptags | truncate }}</p>
{% elif entry.content %}
    {% set content = (
        ( entry.content | selectattr('type', 'equalto', 'text/html') | first )
        or
        ( entry.content | selectattr('type', 'equalto', 'text/xhtml') | first )
        or
        ( entry.content | selectattr('type', 'equalto', 'text/plain') | first )
    ) %}
    {% if content %}
    <p>{{ content.value | striptags | truncate }}</p>
    {% endif %}
{% endif %}


{% if entry.enclosures %}
<ul>

{% for enclosure in entry.enclosures %}

<li>
<a href="{{ enclosure.href }}">{{ enclosure.href.split('/')[-1].split('?')[0] }}</a>
<small><a href="{{ enclosure | enclosure_tags(entry) }}">with tags</a> {{ enclosure.type }}</small>
</li>

{% endfor %}
</ul>
{% endif %}

</div>

{% else %}
<p>no {% if current_what != 'all' %}{{ current_what }} {% endif %}entries for this feed</p>
{% endfor %}

{% endblock %}

