<!doctype html>

<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<script src="{{ url_for('static', filename='controls.js') }}"></script>
<script>

window.onload = function () {
    register_all({{ url_for('.form_api') | tojson | safe }});
};

</script>

<title>{% block page_title %}{% endblock %}</title>

{% if config.DEBUG  %}
<p style="
color: white;
background: red;
padding: .5rem 1rem;
margin: 0;
position: fixed;
bottom: 0;
right: 0;
"><code>{{ config.READER_DB }}</code></p>
{% endif %}



<div id="top-bar">
<ul class="controls">
<li>
<a href="{{ url_for('.entries') }}">entries</a>
<a href="{{ url_for('.feeds') }}">feeds</a>
{{ macros.text_input_button('.form_api', 'add-feed', 'add feed', 'feed-url', 'feed URL', 
    next=url_for('.feeds', **request.args)) }}
{% for message in get_flashed_messages_by_prefix('add-feed') %}
<li class="error">{{ message }}
{% endfor %}
</ul>

</div>





<h1>{% block main_title %}{% endblock %}</h1>

{% block body %}{% endblock %}

