
{% macro feed_link(feed) -%}
{%- if feed.link %}<a href="{{ feed.link }}">{%- endif -%}
{{ feed_title(feed) }}
{%- if feed.link %}</a>{% endif -%}
{%- endmacro %}

{% macro feed_title(feed) %}
{%- if feed.user_title and feed.user_title.strip() -%}
    {{ feed.user_title }}
{%- elif feed.title and feed.title.strip() -%}
    {{ feed.title }}
{%- else -%}
    {{ feed.url }}
{%- endif -%}
{% endmacro %}


{% macro text_input_button(form_view, action, label, name, placeholder, leave_disabled=false, next=none, context=none) -%}
<li class="collapsible" data-button-type="text-input" data-callback="function callback(data) {

{% if caller is defined %}{{ caller() | forceescape }}{% endif %}

}; callback" data-leave-disabled="{{ 'true' if leave_disabled else 'false' }}">
<form action="{{ url_for(form_view) }}" method="post" class="action-{{ action }}">
    <span class="label">{{ label }}</span>
    <span class="hidden">
        <input type="text" name="{{ name }}" placeholder="{{ placeholder }}" autocomplete="off">
        <button type="submit" name="action" value="{{ action }}" autocomplete="off">{{ label }}</button>
    </span>
    {% if next is not none %}<input type="hidden" name="next-{{ action }}" value='{{ next }}'>{% endif %}
    {% for name, value in (context or {}) | dictsort -%}
    <input type="hidden" name='{{ name }}' value='{{ value }}'>
    {% endfor %}
</form>
{%- endmacro %}


{% macro confirm_button(form_view, action, label, id=none, leave_disabled=false, next=none, context=none) -%}
<li class="collapsible" data-button-type="confirm" data-callback="function callback(data) {

{% if caller is defined %}{{ caller() | forceescape }}{% endif %}

}; callback" data-leave-disabled="{{ 'true' if leave_disabled else 'false' }}">
<form action="{{ url_for(form_view) }}" method="post" class="action-{{ action }}">
    <span class="label">{{ label }}</span>
    <span class="hidden">
        <input type="checkbox" id="really-{{ action }}{% if id is not none %}-{{ id }}{% endif %}" name="really-{{ action }}" value="really" autocomplete="off">
        <label for="really-{{ action }}{% if id %}-{{ id }}{% endif %}">I really want to</label>
        <button type="submit" name="action" value="{{ action }}" autocomplete="off">{{ label }}</button>
    </span>
    {% if next is not none %}<input type="hidden" name="next-{{ action }}" value='{{ next }}'>{% endif %}
    {% for name, value in (context or {}) | dictsort -%}
    <input type="hidden" name='{{ name }}' value='{{ value }}'>
    {% endfor %}
</form>
{%- endmacro %}


{% macro simple_button(form_view, action, label, leave_disabled=false, next=none, context=none) -%}
<li class="simple-button" data-button-type="simple" data-callback="function callback(data) {

{% if caller is defined %}{{ caller() | forceescape }}{% endif %}

}; callback" data-leave-disabled="{{ 'true' if leave_disabled else 'false' }}">
<form action="{{ url_for(form_view) }}" method="post" class="action-{{ action }}">
    <button type="submit" name="action" value="{{ action }}" autocomplete="off">{{ label }}</button>
    {% if next is not none %}<input type="hidden" name="next-{{ action }}" value='{{ next }}'>{% endif %}
    {% for name, value in (context or {}) | dictsort -%}
    <input type="hidden" name='{{ name }}' value='{{ value }}'>
    {% endfor %}
</form>
{%- endmacro %}


{% macro radio_links(name, options, default, endpoint, label=none) -%}
<li>{% if label %}{{ label }}: {% endif %}
{% set current_option = request.args.get(name, default) -%}
{%- for option, option_label in options -%}
{%- set option_label = option_label or option -%}

{%- set args = request.args.copy() -%}
{%- if option is none -%}
    {%- set _ = args.poplist(name) -%}
{%- else -%}
    {%- set _ = args.setlist(name, [option]) -%}
{%- endif -%}

{%- if option != current_option %}<a href='{{ url_for(endpoint, **args) }}'>{% endif -%}
{{- option_label -}}
{%- if option != current_option %}</a> {% endif %}
{% endfor %}
{%- endmacro %}


