
.nav.controls {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0;
  gap: 1rem;
}
.nav.controls .nav-link.active {
  color: var(--bs-navbar-active-color);
}

.list-inline-item.title {
  font-size: 1.125rem;
}
