
.navbar {
  --bs-navbar-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.25rem;
  --bs-navbar-toggler-font-size: 1rem;
  --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0);
}

.nav.filter-presets {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0;
  gap: 1rem;
}
.nav.filter-presets .nav-link.active {
  color: var(--bs-navbar-active-color);
}

.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator, .htmx-request.htmx-indicator {
  display: inline-block;
}
.htmx-request .label, .htmx-request.label {
  display: none;
}

.btn .spinner-border {
  width: var(--bs-btn-font-size);
  height: var(--bs-btn-font-size);
}

/* make .actions .btn look like .btn-sm but with big icons */
.actions .btn {
  --bs-btn-border-radius: var(--bs-border-radius-sm);
}
.actions .btn:not(:has(.bi)) {
  /* .btn-sm */
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: var(--bs-border-radius-sm);
}
.actions .btn:has(.bi) {
  /* .btn-sm padding minus .btn font size */
  --bs-btn-padding-y: 0.125rem;
  --bs-btn-padding-x: 0.375rem;
  /* .btn font size */
  --bs-btn-font-size: 1rem;
}

/* .actions spacing */
.actions, .actions .icons {
  /* .d-flex .flex-wrap .gap-1 */
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
}
.actions .icons {
  gap: 0;
}
.actions .icons:not(:empty) {
  margin-left: .25rem;
}
