
.nav.controls {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0;
  gap: 1rem;
}
.nav.controls .nav-link.active {
  color: var(--bs-navbar-active-color);
}

.mark-as .btn-sm {
  --bs-btn-padding-x: 0.125rem;
  --bs-btn-padding-y: 0.125rem;
}

.list-inline-item.link {
  font-size: 1.125rem;
}
.list-inline-item.link .external {
  font-size: 0.875rem;
}
