{% import "macros.html" as macros %}

<!doctype html>

<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='controls.js') }}"></script>


<script>

window.onload = function () {

    register_all({{ url_for('form') | tojson | safe }});

};

</script>



<ul class="controls">

{% call macros.simple_button('form', 'simple', 'simple', next=url_for('root', from_action='next-simple')) %}
    document.querySelector('#out').innerHTML = "v1: " + JSON.stringify(data);
{% endcall %}
{% call macros.confirm_button('form', 'confirm', 'confirm', 'confirm', next=url_for('root', from_action='next-confirm')) %}
    document.querySelector('#out').innerHTML = "v1: " + JSON.stringify(data);
{% endcall %}
{% call macros.text_input_button('form', 'text', 'text', 'text', 'text', next=url_for('root', from_action='next-text')) %}
    document.querySelector('#out').innerHTML = "v1: " + JSON.stringify(data);
{% endcall %}

{% call macros.simple_button('form', 'simple', 'simple2', leave_disabled=true, next=url_for('root', from_action='next-simple2')) %}
    document.querySelector('#out').innerHTML = "v2: " + JSON.stringify(data);
{% endcall %}
{% call macros.confirm_button('form', 'confirm', 'confirm2', 'confirm2', leave_disabled=true, next=url_for('root', from_action='next-confirm2')) %}
    document.querySelector('#out').innerHTML = "v2: " + JSON.stringify(data);
{% endcall %}
{% call macros.text_input_button('form', 'text', 'text2', 'text', 'text', leave_disabled=true, next=url_for('root', from_action='next-text2')) %}
    document.querySelector('#out').innerHTML = "v2: " + JSON.stringify(data);
{% endcall %}

{{ macros.simple_button('form', 'simple', 'simple3', next=url_for('root', from_action='next-simple3')) }}
{{ macros.confirm_button('form', 'confirm', 'confirm3', 'confirm3', next=url_for('root', from_action='next-confirm3')) }}
{{ macros.text_input_button('form', 'text', 'text3', 'text', 'text', next=url_for('root', from_action='next-text3')) }}

{% call macros.simple_button('form', 'simple-next', 'simple next') %}
    document.querySelector('#out').innerHTML = "simple next: " + JSON.stringify(data);
{% endcall %}


{% for message in get_flashed_messages_by_prefix(
    'simple',
    'confirm',
    'text',
) %}
<li class="error">{{ message }}
{% endfor %}

</ul>

<input type="hidden" name="next" value='{{ url_for('root', from='next') }}'>




{% for message in get_flashed_messages_by_prefix('message') %}
<pre>{{ message }}</pre>
{% endfor %}

<pre id='out'></pre>

