{% extends "v2/layout.html" %}

{% import "v2/macros.html" as macros %}


{% block page_title %}
  Add feed - {{ super() }}
{% endblock %}


{% block body %}

<h1>Add feed</h1>

<form action="{{ url_for(request.endpoint) }}" method="post" class="my-2">
{#- TODO: aria stuff #}

{{ form.csrf_token }}
{%- if form.csrf_token.errors %}
<ul class="list-unstyled">
  {%- for error in form.csrf_token.errors %}
    <li class="alert alert-danger">{{ error }}</li>
  {%- endfor %}
</ul>
{%- endif %}

<div class="mb-3">

{#- TODO: clear button -#}
{%- set field = form.feed -%}
{{ field(
  class="form-control" + (' is-invalid' if field.errors else ''),
  placeholder=field.label.text,
) }}
{%- if field.errors %}
<div class="invalid-feedback">
  {%- for error in field.errors %}
    {{ error }}
  {%- endfor %}
</div>
{%- endif %}

</div>

<input type="submit" class="btn btn-primary" value="add">

<a href="javascript:history.back()" class="btn btn-outline-secondary" role="button" >
  cancel
</a>

</form>

{% endblock %}
