{% extends "v2/layout.html" %}

{% import "v2/macros.html" as macros %}


{% block page_title %}
  Change title for {{ feed.resolved_title or feed.url }} - reader
{% endblock %}

{% block main_title %}
  Change title?
{% endblock %}


{% block body %}
  <p class="lead">Change title of feed
  <a href="{{ url_for('.entries', feed=feed.url) }}">{{ feed.resolved_title or feed.url }}</a>?
  {%- if feed.resolved_title != feed.title %}
  Leave empty to use the original <em>{{ feed.title or feed.url }}</em> title.
  {%- endif -%}
  </p>

  <form action="{{ url_for(request.endpoint, **request.args) }}" method="post" class="my-2">
    {#- TODO: aria stuff #}

    {#- TODO: clear button -#}
    <input type="text" name="title" value="{{ feed.user_title or '' }}" placeholder="{{ feed.title or feed.url }}" class="form-control mb-3">

    <button type="submit" name="change" value="true" class="btn btn-primary">
      change
    </button>

    <a href="javascript:history.back()" class="btn btn-outline-secondary" role="button" >
      cancel
    </a>

    {# TODO: this is not needed if we use request.args['feed'] #}
    <input type="hidden" name="feed" value="{{ feed.url }}">

  </form>



{% endblock %}
