{% extends "v2/layout.html" %}

{% import "v2/macros.html" as macros %}


{% block page_title %}
  Change title for {{ feed.resolved_title or feed.url }} - {{ super() }}
{% endblock %}


{% block body %}

<h1>Change title</h1>

<p>
  Changing title of
  <a href="{{ url_for('.entries', feed=feed.url) }}">
    {{- feed.resolved_title or feed.url -}}
  </a>.
  {%- if feed.resolved_title != feed.title %}
  Leave empty to use the original <em>{{ feed.title or feed.url }}</em> title.
  {%- endif %}
</p>

<form action="{{ url_for(request.endpoint, **request.args) }}" method="post" class="my-2">
{#- TODO: aria stuff #}

<div class="mb-3">

{#- TODO: clear button -#}
{%- set field = form.title -%}
{{ field(
  class="form-control" + (' is-invalid' if field.errors else ''),
  placeholder=feed.title or feed.url,
) }}
{%- if field.errors %}
<div class="invalid-feedback">
  {%- for error in field.errors %}
    {{ error }}
  {%- endfor %}
</div>
{%- endif %}

</div>

<input type="submit" class="btn btn-primary" value="change">

<a href="javascript:history.back()" class="btn btn-outline-secondary" role="button" >
  cancel
</a>

</form>

{% endblock %}
