{% extends "v2/layout.html" %}

{% import "v2/macros.html" as macros %}


{% block page_title %}
  Delete {{ feed.resolved_title or feed.url }} - {{ super() }}
{% endblock %}


{% block body %}

<h1>Delete feed</h1>

<p>
  <a href="{{ url_for('.entries', feed=feed.url) }}">
    {{- feed.resolved_title or feed.url -}}
  </a>
  and its entries will be deleted.
  This cannot be undone.
</p>

<form action="{{ url_for(request.endpoint, **request.args) }}" method="post" class="my-2">

{{ macros.csrf_token_field() }}

<input type="submit" class="btn btn-danger" value="delete">

<a href="javascript:history.back()" class="btn btn-outline-secondary" role="button" >
  cancel
</a>

</form>



{% endblock %}
