{% extends "v2/layout.html" %}

{% import "v2/macros.html" as macros %}


{% block page_title %}
  {{ entry.title or 'untitled' }}
  - {{ super() }}
{% endblock %}


{% block body %}

<ul class="list-inline text-secondary small mb-2">
  {{ macros.entry_feed(entry) }}
  {{ macros.entry_published(entry) }}
  {{ macros.entry_author(entry) }}
</ul>


<h1 class="mb-1">
  {{ macros.title_href(entry.title or 'untitled', external=entry.link) }}
</h1>


{% set content = entry.get_content() %}
{% set summary = entry.get_content(prefer_summary=True) %}
{% set summary = summary if summary != content and not (content.value | striptags).startswith(summary.value | striptags) else none %}


<form action="{{ url_for('.entry_actions') }}" method="post"
hx-target="closest .actions"
class="mt-3 mb-4">

{#- TODO: aria stuff #}
{#- TODO: use https://getbootstrap.com/docs/5.3/forms/layout/#inline-forms for spacing -#}

{% block entry_actions scoped %}
<div class="d-inline actions">

{{ macros.csrf_token_field() }}

<button type="submit" name="read"
    value="{{ 'false' if entry.read else 'true' }}"
    hx-post="{{ url_for('.entry_actions') }}"
    hx-disabled-elt="this"
    class="btn btn-outline-secondary btn-sm{% if entry.read %} active{% endif %}"
    {% if entry.read -%}
    aria-pressed="true"
    {% endif -%}
    style="width: 4rem">

    <i class="label bi {{
    'bi-check-circle-fill' if entry.read is true else 'bi-check-lg'
    }}"></i>

    <div class="spinner-border htmx-indicator" role="status">
    <span class="visually-hidden">loading...</span>
    </div>

</button>

<div class="btn-group" role="group" aria-label="importance">
    <button type="submit" name="important"
    value="{{ 'none' if entry.important is true else 'true' }}"
    hx-post="{{ url_for('.entry_actions') }}"
    hx-disabled-elt="this, next button"
    class="btn btn-outline-secondary btn-sm {% if entry.important is true %} active{% endif %}"
    {% if entry.important is true -%}
    aria-pressed="true"
    {% endif -%}
    style="width: 2rem">

    <i class="label bi {{
        'bi-star-fill' if entry.important is true else 'bi-star'
    }}"></i>

    <div class="spinner-border htmx-indicator" role="status">
        <span class="visually-hidden">loading...</span>
    </div>

    </button>

    <button type="submit" name="important"
    value="{{ 'none' if entry.important is false else 'false' }}"
    hx-post="{{ url_for('.entry_actions') }}"
    hx-disabled-elt="this, previous button"
    class="btn btn-outline-secondary btn-sm {% if entry.important is false %} active{% endif %}"
    {% if entry.important is false -%}
    aria-pressed="true"
    {% endif -%}
    style="width: 2rem">

    <i class="label bi {{
        'bi-arrow-down-circle-fill' if entry.important is false else 'bi-arrow-down'
    }}"></i>

    <div class="spinner-border htmx-indicator" role="status">
        <span class="visually-hidden">loading...</span>
    </div>

    </button>
</div>

<input type="hidden" name="feed-url" value="{{ entry.feed_url }}">
<input type="hidden" name="entry-id" value="{{ entry.id }}">

</div>
{% endblock %}


{% if summary %}
<a class="btn text-secondary btn-sm" role="button"
  title="summary" href="#summary"
  data-bs-toggle="collapse" aria-expanded="false" aria-controls="summary">
  <i class="bi bi-card-text }}"></i>
</a>
{% endif %}


{% if entry.enclosures %}
<a class="btn text-secondary btn-sm" role="button"
  title="enclosures" href="#enclosures">
  <i class="bi bi-{{ macros.bs_file_icon(entry.enclosures[0].type) }}"></i>
</a>
{% endif %}


</form>


{% if summary %}
<div class="collapse" id="summary">
<div class="card mb-3">
<div class="card-body">
{{ summary.value | safe }}
</div>
</div>
</div>
{% endif %}


<article class="mb-4">
{% if content %}
{% if not content.is_html -%}
<pre class='plaintext'>{{ content.value }}</pre>
{%- else -%}
{{ content.value | safe }}
{%- endif %}
{% else %}
<p>no content</p>
{% endif %}
</article>


{% if entry.enclosures %}
<div id="enclosures" class="card mb-4">
<div class="card-body">
<h6 class="card-title">enclosures</h6>

<ul class="card-text list-unstyled">
{% for enclosure in entry.enclosures %}
<li>
<a href="{{ enclosure.href }}">{{ enclosure.href.split('/')[-1].split('?')[0] }}</a>
<small>{{ enclosure.type }}</small>
</li>
{% endfor %}
</ul>
{% endif %}

</div>
</div>


{# TODO: links #}


{% endblock %}
