{% extends "v2/layout.html" %}

{% import "v2/macros.html" as macros %}


{% block page_title %}
  {% if not feed %}
    Entries
  {% else %}
   {{ feed.resolved_title or feed.url }}
  {% endif %}
  - {{ super() }}
{% endblock %}


{% block body %}

{{ macros.flashed_messages() }}


{% if not feed %}
<h1>Entries</h1>
{% else %}

<ul class="list-inline text-secondary small mb-2">
  {{ macros.feed_updated(feed) }}
  {{ macros.feed_author(feed) }}
</ul>

<h1 class="mb-2">
  {{ macros.title_href(feed.resolved_title or feed.url, external=feed.link) }}
</h1>

{{ macros.subtitle(feed.subtitle) }}


{%- if feed and not feed.url.startswith('reader:') %}
<ul class="list-unstyled mt-3">

  {%- if not feed.last_updated and not feed.last_exception %}
    <li class="alert alert-secondary">
      Feed not updated yet. <a href="">Refresh.</a>
    </li>
  {%- endif %}

  {%- if feed.last_exception %}
    <li class="alert alert-danger">
      <strong>Update error</strong>
      {%- if not feed.last_updated %} (first update){% endif %}:
      {{ feed.last_exception.value_str }}
    </li>
  {%- endif %}

</ul>
{%- endif %}


<form action="{{ url_for('.feed_actions', from='entries') }}" method="post"
  hx-target="closest form"
  hx-target-419="this"

  class="actions mt-2 mb-4">
  {% block feed_actions scoped %}

  {{ macros.csrf_token_field() }}
  {{ macros.feed_enabled_button(feed) }}
  {{ macros.change_feed_title_button(feed) }}
  {{ macros.delete_feed_button(feed) }}

  <div class="icons">
  {{ macros.feed_url_button(feed) }}
  </div>

  <input type="hidden" name="feed-url" value="{{ feed.url }}">

{% endblock %}
</form>


{% endif %}


{% call macros.filter_form(form) %}
  {{ macros.filter_radio(form.read) }}
  {{ macros.filter_radio(form.important) }}
  {{ macros.filter_radio(form.has_enclosures) }}
  {{ macros.filter_radio(form.sort) }}
  {% if form.feed.data %}{{ form.feed }}{% endif %}
{% endcall %}


{% set last = namespace() %}
{% for entry in entries %}
{%- if loop.last -%}
  {% set last.entry = entry -%}
  {% set last.index = loop.index -%}
{%- endif -%}
<div class="mb-4" id="entry-{{ loop.index }}">

  <ul class="list-inline text-secondary small mb-1">
    {{ macros.entry_feed(entry) }}
    {{ macros.entry_published(entry) }}
  </ul>

  <h2 class="h5 mb-1" style="font-size: 1.125rem">
    {{ macros.title_href(entry.title or 'untitled', url_for('.entry', feed=entry.feed.url, entry=entry.id), entry.link) }}
  </h2>

  {{ macros.subtitle(entry.get_content(prefer_summary=True).value) }}

  {% set next_index = loop.index if not loop.last else loop.index - 1 -%}
  {% set next = url_for('.entries', **request.args) + '#entry-' + (next_index|string) %}
  <form action="{{ url_for('.entry_actions') }}" method="post"
    hx-target="closest form"
    hx-target-419="this"

    class="actions my-2">
    {#- TODO: aria stuff #}
    {% block entry_actions scoped %}

    {{ macros.csrf_token_field() }}
    {{ macros.entry_read_button(entry) }}
    {{ macros.entry_important_button(entry) }}

    <div class="icons">
    {% for enclosure in entry.enclosures[:1] -%}
    {%- set links = additional_enclosure_links(enclosure, entry) | list -%}
    {%- set _ = links.append(('', enclosure.href)) -%}
    {%- set link = links[0][1] -%}
    <a class="btn text-secondary" role="button" target="_blank"
      title="{{ enclosure.type }}" href="{{ link }}">
      <i class="bi bi-{{ macros.bs_file_icon(enclosure.type) }}"></i>
    </a>
    {%- endfor %}
    </div>

    <input type="hidden" name="feed-url" value="{{ entry.feed_url }}">
    <input type="hidden" name="entry-id" value="{{ entry.id }}">
    <input type="hidden" name="next" value="{{ next }}">

  {% endblock %}
  </form>

</div>

{% else %}
  <p>no entries found</p>
{% endfor %}


<nav aria-label="page navigation" class="d-flex gap-2">
  {% set after = 'after' in request.args %}
  {% set more = request.args.sort != 'random' and last.entry and last.index == limit %}

  {% if after or more %}
  <ul class="pagination">

    {% if after %}
    <li class="page-item">
      <a class="page-link" href="javascript:history.back()">
        <span aria-hidden="true" class="me-2">&lsaquo;</span>previous
      </a>
    </li>
    {% endif %}

    {% if more %}
    <li class="page-item">
      {% set args = dict(request.args) %}
      {% do args.update(after='\0'.join(last.entry.resource_id)) %}
      <a class="page-link" href="{{ url_for('.entries',**args) }}">
        next<span aria-hidden="true" class="ms-2">&rsaquo;</span>
      </a>
    </li>
    {% endif %}

  </ul>
  {% endif %}

  {{ macros.pagination_top() }}

</nav>


{% endblock %}
