{% extends "v2/layout.html" %}

{% import "v2/macros.html" as macros %}


{% block page_title %}
  {% if not feed %}
    Entries
  {% else %}
   {{ feed.resolved_title or feed.url }}
  {% endif %}
  - reader
{% endblock %}

{% block main_title %}
  {% if not feed %}
    Entries
  {% else %}
    <span {% if feed.title and feed.resolved_title != feed.title -%}
      title="{{ feed.title }}"
      {%- endif %}>
      {{ feed.resolved_title or feed.url }}
    </span>
  {% endif %}
{% endblock %}


{% block body %}


<ul class="nav controls mb-3 small">
  {% for preset in form.presets %}
  <li class="nav-item">
    <a class="nav-link{% if preset.active %} active{% endif %}"
      {%- if preset.active %} aria-current="page"{% endif %}
      href="{{ url_for('.entries', **preset.args) }}">
      {{ preset.name }}
    </a>
  </li>
  {%- endfor %}
  <li class="nav-item">
    <a class="nav-link dropdown-toggle{% if not form.active_presets %} active{% endif %}"
      href="#nav-more" data-bs-toggle="collapse"
      role="button" aria-expanded="false" aria-controls="nav-more">
      more
    </a>
  </li>
</ul>


<form>
  {# TODO: if data or error #}
  {% if form.search.data %}{{ macros.input(form.search, 'search') }}{% endif %}
  {% if form.feed_tags.data %}{{ macros.input(form.feed_tags, 'tag') }}{% endif %}
  <div class="collapse mb-3" id="nav-more">
    {% if not form.search.data %}{{ macros.input(form.search, 'search') }}{% endif %}
    {% if not form.feed_tags.data %}{{ macros.input(form.feed_tags, 'tag') }}{% endif %}
    <div class="mb-3">
    {{ macros.radio(form.read) }}
    {{ macros.radio(form.important) }}
    {{ macros.radio(form.has_enclosures) }}
    {{ macros.radio(form.sort) }}
    </div>
    {% if form.feed.data %}{{ form.feed }}{% endif %}
    <button type="submit" class="btn btn-primary">go</button>
  </div>
</form>


{% for entry in entries %}
<div class="mb-4" id="entry-{{ loop.index }}">

  <ul class="list-inline" style="margin-bottom: 0.125rem">

    <li class="list-inline-item">
      <a class="text-decoration-none" href="{{ url_for('.entries', feed=entry.feed.url) }}">
        <small>
          {{ entry.feed_resolved_title or 'untitled feed' }}
        </small>
      </a>
    </li>

    {% set published = entry.published or entry.updated_not_none -%}
    {# TODO: published should be a tooltip #}
    {# TODO: babel.format_timedelta(..., format='narrow') -> 3h #}
    <li class="list-inline-item text-secondary" title="{{ published }}">
      <small>
        {{ published | humanize_naturaltime }}
      </small>
    </li>

    <!--
    <li class="list-inline-item text-secondary"><small>12 minute read</small></li>
    -->

  </ul>

  <h2 class="h5 mb-1" style="font-size: 1.125rem">
    <a class="text-decoration-none" href="{{ url_for('reader.entry', feed=entry.feed.url, entry=entry.id) }}">
      {{- (entry.title or 'untitled') | striptags | truncate(95) -}}
    </a>
    {#- NOTE: there must be no whitespace between the last word and the icon -#}
    {#- TODO: aria stuff -#}
    {%- if entry.link -%}
    <a class="mx-2 small text-nowrap" href="{{ entry.link }}" target="_blank">{#
      #}<i class="bi bi-box-arrow-up-right small"></i>{#
    #}</a>
    {%- endif %}
  </h2>

  {# TODO: show marked search results; title too! #}
  {% set summary = entry.get_content(prefer_summary=True).value | striptags | trim %}
  {% if summary %}
  <p class="small mb-2">
    {{ summary | truncate(223) }}
  </p>
  {% endif %}

  {% set next_index = loop.index if not loop.last else loop.index - 1 -%}
  {% set next = url_for('.entries', **request.args) + '#entry-' + (next_index|string) %}
  <form action="{{ url_for('.mark_as') }}" method="post"
    hx-target="closest form"

    class="my-2">
    {#- TODO: aria stuff #}
    {% block entry_form scoped %}

    <button type="submit" name="read"
      value="{{ 'false' if entry.read else 'true' }}"
      hx-post="{{ url_for('.mark_as') }}"
      hx-disabled-elt="this"
      class="btn btn-outline-secondary btn-sm{% if entry.read %} active{% endif %}"
      {% if entry.read -%}
      aria-pressed="true"
      {% endif -%}
      style="width: 4rem">

      <i class="label bi {{
        'bi-check-circle-fill' if entry.read is true else 'bi-check-lg'
      }}"></i>

      <div class="spinner-border htmx-indicator" role="status" style="width: 0.875rem; height: 0.875rem;">
        <span class="visually-hidden">loading...</span>
      </div>

    </button>

    <div class="btn-group" role="group" aria-label="importance">
      <button type="submit" name="important"
        value="{{ 'none' if entry.important is true else 'true' }}"
        hx-post="{{ url_for('.mark_as') }}"
        hx-disabled-elt="this, next button"
        class="btn btn-outline-secondary btn-sm {% if entry.important is true %} active{% endif %}"
        {% if entry.important is true -%}
        aria-pressed="true"
        {% endif -%}
        style="width: 2rem">

        <i class="label bi {{
          'bi-star-fill' if entry.important is true else 'bi-star'
        }}"></i>

        <div class="spinner-border htmx-indicator" role="status" style="width: 0.875rem; height: 0.875rem;">
          <span class="visually-hidden">loading...</span>
        </div>

      </button>

      <button type="submit" name="important"
        value="{{ 'none' if entry.important is false else 'false' }}"
        hx-post="{{ url_for('.mark_as') }}"
        hx-disabled-elt="this, previous button"
        class="btn btn-outline-secondary btn-sm {% if entry.important is false %} active{% endif %}"
        {% if entry.important is false -%}
        aria-pressed="true"
        {% endif -%}
        style="width: 2rem">

        <i class="label bi {{
          'bi-arrow-down-circle-fill' if entry.important is false else 'bi-arrow-down'
        }}"></i>

        <div class="spinner-border htmx-indicator" role="status" style="width: 0.875rem; height: 0.875rem;">
          <span class="visually-hidden">loading...</span>
        </div>

      </button>
    </div>

    {% for enclosure in entry.enclosures[:1] -%}
    {%- set links = additional_enclosure_links(enclosure, entry) | list -%}
    {%- set _ = links.append(('', enclosure.href)) -%}
    {%- set link = links[0][1] -%}
    <a class="btn text-secondary btn-sm" role="button" target="_blank"
      title="{{ enclosure.type }}" href="{{ link }}">
      <i class="bi bi-{{ macros.bs_file_icon(enclosure.type) }}"></i>
    </a>
    {%- endfor %}

    <input type="hidden" name="feed-url" value="{{ entry.feed_url }}">
    <input type="hidden" name="entry-id" value="{{ entry.id }}">
    <input type="hidden" name="next" value="{{ next }}">

  {% endblock %}
  </form>

</div>

{% else %}
  <p>no entries found</p>
{% endfor %}


<!--
<nav aria-label="page navigation">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#">
        <span aria-hidden="true" class="me-2">&lsaquo;</span>previous
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">
        next<span aria-hidden="true" class="ms-2">&rsaquo;</span>
      </a>
    </li>
  </ul>
</nav>
-->


{% endblock %}
