{% extends "v2/layout.html" %}

{% import "v2/macros.html" as macros %}


{% block page_title %}
  {% if not feed %}
    Entries
  {% else %}
   {{ feed.resolved_title or feed.url }}
  {% endif %}
  - {{ super() }}
{% endblock %}


{% block body %}

{{ macros.flashed_messages() }}


{% if not feed %}
<h1>Entries</h1>
{% else %}

<ul class="list-inline text-secondary small mb-1">
  {{ macros.feed_updated(feed) }}
</ul>

<h1 class="mb-2">
  {{ macros.title_href(feed.resolved_title or feed.url, external=feed.link) }}
</h1>


{% set summary = (feed.subtitle | striptags | trim) if feed.subtitle else '' %}
{% if summary %}
<p class="small mb-2">
  {{ summary | truncate(223) }}
</p>
{% endif %}


{%- if feed and not feed.url.startswith('reader:') %}
<ul class="list-unstyled mt-3">

  {%- if not feed.last_updated and not feed.last_exception %}
    <li class="alert alert-secondary">
      Feed not updated yet. <a href="">Refresh.</a>
    </li>
  {%- endif %}

  {%- if feed.last_exception %}
    <li class="alert alert-danger">
      <strong>Update error</strong>
      {%- if not feed.last_updated %} (first update){% endif %}:
      {{ feed.last_exception.value_str }}
    </li>
  {%- endif %}

</ul>
{%- endif %}


<form action="{{ url_for('.feed_actions', from='entries') }}" method="post"
  hx-target="closest form"

  class="mt-2 mb-4">
  {#- TODO: aria stuff #}
  {% block feed_actions scoped %}

  {% if not feed.url.startswith('reader:') -%}
  <button type="submit" name="enabled"
    value="{{ 'false' if feed.updates_enabled else 'true' }}"
    hx-post="{{ url_for('.feed_actions') }}"
    hx-disabled-elt="this"
    class="btn btn-outline-secondary btn-sm {% if feed.updates_enabled %} active{% endif %}"
    {% if feed.updates_enabled -%}
    aria-pressed="true"
    {% endif -%}
    style="width: 4rem">

    <span class="label">{{ 'disable' if feed.updates_enabled is true else 'enable' }}</span>

    <div class="spinner-border htmx-indicator" role="status">
      <span class="visually-hidden">loading...</span>
    </div>

  </button>
  {%- endif %}

  <a href="{{ url_for('.change_feed_title', feed=feed.url) }}"
    class="btn btn-outline-secondary btn-sm"
    role="button"
  >change title</a>

  <a href="{{ url_for('.delete_feed', feed=feed.url) }}"
    class="btn btn-outline-danger btn-sm"
    role="button"
  >delete</a>

  {%- if not feed.url.startswith('reader:') -%}
  <a class="ms-2 text-nowrap small" href="{{ feed.url }}" target="_blank">{#
    #}<i class="bi bi-rss text-secondary"></i>{#
  #}</a>
  {%- endif -%}
  {%- if feed.last_exception and feed.updates_enabled -%}
  <span class="ms-2 text-nowrap small" title="{{ feed.last_exception.value_str }}">{#
    #}<i class="bi bi-slash-circle text-danger"></i>{#
  #}</span>
  {%- endif -%}

  <input type="hidden" name="feed-url" value="{{ feed.url }}">

{% endblock %}
</form>


{% endif %}


{% call macros.filter_form(form) %}
  {{ macros.filter_radio(form.read) }}
  {{ macros.filter_radio(form.important) }}
  {{ macros.filter_radio(form.has_enclosures) }}
  {{ macros.filter_radio(form.sort) }}
  {% if form.feed.data %}{{ form.feed }}{% endif %}
{% endcall %}


{% set last = namespace() %}
{% for entry in entries %}
{%- if loop.last -%}
  {% set last.entry = entry -%}
  {% set last.index = loop.index -%}
{%- endif -%}
<div class="mb-4" id="entry-{{ loop.index }}">

  <ul class="list-inline text-secondary small mb-1">

    <li class="list-inline-item">
      <a class="text-decoration-none" href="{{ url_for('.entries', feed=entry.feed.url) }}">
        {{ entry.feed_resolved_title or entry.feed.url }}
      </a>
    </li>

    {% set published = entry.published or entry.updated_not_none -%}
    {# TODO: published should be a tooltip #}
    {# TODO: babel.format_timedelta(..., format='narrow') -> 3h #}
    <li class="list-inline-item" title="{{ published }}">
      {{ published | humanize_naturaltime }}
    </li>

  </ul>

  <h2 class="h5 mb-1" style="font-size: 1.125rem">
    {{ macros.title_href(entry.title or 'untitled', url_for('.entry', feed=entry.feed.url, entry=entry.id), entry.link) }}
  </h2>

  {% set summary = entry.get_content(prefer_summary=True).value | striptags | trim %}
  {% if summary %}
  <p class="small mb-2">
    {{ summary | truncate(223) }}
  </p>
  {% endif %}

  {% set next_index = loop.index if not loop.last else loop.index - 1 -%}
  {% set next = url_for('.entries', **request.args) + '#entry-' + (next_index|string) %}
  <form action="{{ url_for('.entry_actions') }}" method="post"
    hx-target="closest form"

    class="my-2">
    {#- TODO: aria stuff #}
    {% block entry_actions scoped %}

    <button type="submit" name="read"
      value="{{ 'false' if entry.read else 'true' }}"
      hx-post="{{ url_for('.entry_actions') }}"
      hx-disabled-elt="this"
      class="btn btn-outline-secondary btn-sm{% if entry.read %} active{% endif %}"
      {% if entry.read -%}
      aria-pressed="true"
      {% endif -%}
      style="width: 4rem">

      <i class="label bi {{
        'bi-check-circle-fill' if entry.read is true else 'bi-check-lg'
      }}"></i>

      <div class="spinner-border htmx-indicator" role="status">
        <span class="visually-hidden">loading...</span>
      </div>

    </button>

    <div class="btn-group" role="group" aria-label="importance">
      <button type="submit" name="important"
        value="{{ 'none' if entry.important is true else 'true' }}"
        hx-post="{{ url_for('.entry_actions') }}"
        hx-disabled-elt="this, next button"
        class="btn btn-outline-secondary btn-sm {% if entry.important is true %} active{% endif %}"
        {% if entry.important is true -%}
        aria-pressed="true"
        {% endif -%}
        style="width: 2rem">

        <i class="label bi {{
          'bi-star-fill' if entry.important is true else 'bi-star'
        }}"></i>

        <div class="spinner-border htmx-indicator" role="status">
          <span class="visually-hidden">loading...</span>
        </div>

      </button>

      <button type="submit" name="important"
        value="{{ 'none' if entry.important is false else 'false' }}"
        hx-post="{{ url_for('.entry_actions') }}"
        hx-disabled-elt="this, previous button"
        class="btn btn-outline-secondary btn-sm {% if entry.important is false %} active{% endif %}"
        {% if entry.important is false -%}
        aria-pressed="true"
        {% endif -%}
        style="width: 2rem">

        <i class="label bi {{
          'bi-arrow-down-circle-fill' if entry.important is false else 'bi-arrow-down'
        }}"></i>

        <div class="spinner-border htmx-indicator" role="status">
          <span class="visually-hidden">loading...</span>
        </div>

      </button>
    </div>

    {% for enclosure in entry.enclosures[:1] -%}
    {%- set links = additional_enclosure_links(enclosure, entry) | list -%}
    {%- set _ = links.append(('', enclosure.href)) -%}
    {%- set link = links[0][1] -%}
    <a class="btn text-secondary btn-sm" role="button" target="_blank"
      title="{{ enclosure.type }}" href="{{ link }}">
      <i class="bi bi-{{ macros.bs_file_icon(enclosure.type) }}"></i>
    </a>
    {%- endfor %}

    <input type="hidden" name="feed-url" value="{{ entry.feed_url }}">
    <input type="hidden" name="entry-id" value="{{ entry.id }}">
    <input type="hidden" name="next" value="{{ next }}">

  {% endblock %}
  </form>

</div>

{% else %}
  <p>no entries found</p>
{% endfor %}


<nav aria-label="page navigation">
  {% set after = 'after' in request.args %}
  {% set more = request.args.sort != 'random' and last.entry and last.index == limit %}

  {% if after or more %}
  <ul class="pagination">

    {% if after %}
    <li class="page-item">
      <a class="page-link" href="javascript:history.back()">
        <span aria-hidden="true" class="me-2">&lsaquo;</span>previous
      </a>
    </li>
    {% endif %}

    {% if more %}
    <li class="page-item">
      {% set args = dict(request.args) %}
      {% do args.update(after='\0'.join(last.entry.resource_id)) %}
      <a class="page-link" href="{{ url_for('.entries',**args) }}">
        next<span aria-hidden="true" class="ms-2">&rsaquo;</span>
      </a>
    </li>
    {% endif %}

  </ul>
  {% endif %}

</nav>


{% endblock %}
