{% extends "v2/layout.html" %}

{% import "v2/macros.html" as macros %}


{% block page_title %}
  Feeds - {{ super() }}
{% endblock %}


{% block body %}

{{ macros.flashed_messages() }}

<h1>Feeds</h1>


{% call macros.filter_form(form) %}
  {{ macros.filter_radio(form.broken) }}
  {{ macros.filter_radio(form.updates_enabled) }}
  {{ macros.filter_radio(form.sort) }}
{% endcall %}


{% for feed in feeds %}
<div class="mb-4" id="feed-{{ loop.index }}">

  <ul class="list-inline text-secondary small mb-1">
    {{ macros.feed_updated(feed) }}
  </ul>

  <h2 class="h5 mb-1" style="font-size: 1.125rem">
    {{ macros.title_href(feed.resolved_title or feed.url, url_for('.entries', feed=feed.url), feed.link) }}
  </h2>

  {{ macros.subtitle(feed.subtitle) }}

  {% set next_index = loop.index if not loop.last else loop.index - 1 -%}
  {% set next = url_for('.feeds', **request.args) + '#feed-' + (next_index|string) %}
  <form action="{{ url_for('.feed_actions') }}" method="post"
    hx-target="closest form"

    class="my-2">
    {#- TODO: aria stuff #}
    {% block feed_actions scoped %}

    {{ macros.csrf_token_field() }}

    {% if not feed.url.startswith('reader:') -%}
    <button type="submit" name="enabled"
      value="{{ 'false' if feed.updates_enabled else 'true' }}"
      hx-post="{{ url_for('.feed_actions') }}"
      hx-disabled-elt="this"
      class="btn btn-outline-secondary btn-sm {% if feed.updates_enabled %} active{% endif %}"
      {% if feed.updates_enabled -%}
      aria-pressed="true"
      {% endif -%}
      style="width: 4rem">

      <span class="label">{{ 'disable' if feed.updates_enabled is true else 'enable' }}</span>

      <div class="spinner-border htmx-indicator" role="status">
        <span class="visually-hidden">loading...</span>
      </div>

    </button>
    {%- endif %}

    <a href="{{ url_for('.change_feed_title', feed=feed.url) }}"
      class="btn btn-outline-secondary btn-sm"
      role="button"
    >change title</a>

    <a href="{{ url_for('.delete_feed', feed=feed.url) }}"
      class="btn btn-outline-danger btn-sm"
      role="button"
    >delete</a>

    {%- if not feed.url.startswith('reader:') -%}
    <a class="ms-2 text-nowrap small" href="{{ feed.url }}" target="_blank">{#
      #}<i class="bi bi-rss text-secondary"></i>{#
    #}</a>
    {%- endif -%}
    {%- if feed.last_exception and feed.updates_enabled -%}
    <span class="ms-2 text-nowrap small" title="{{ feed.last_exception.value_str }}">{#
      #}<i class="bi bi-slash-circle text-danger"></i>{#
    #}</span>
    {%- endif -%}

    <input type="hidden" name="feed-url" value="{{ feed.url }}">
    <input type="hidden" name="next" value="{{ next }}">

  {% endblock %}
  </form>

</div>

{% else %}
  <p>no entries found</p>
{% endfor %}


{% endblock %}
