{% extends "v2/layout.html" %}

{% import "v2/macros.html" as macros %}


{% block page_title %}
  Feeds - {{ super() }}
{% endblock %}


{% block body %}

{{ macros.flashed_messages() }}

<h1>Feeds</h1>


{% call macros.filter_form(form) %}
  {{ macros.filter_radio(form.broken) }}
  {{ macros.filter_radio(form.updates_enabled) }}
  {{ macros.filter_radio(form.sort) }}
{% endcall %}



{% for feed in feeds %}
<div class="mb-4" id="feed-{{ loop.index }}">

  <ul class="list-inline text-secondary small mb-1">
    {{ macros.feed_updated(feed) }}
  </ul>

  <h2 class="h5 mb-1" style="font-size: 1.125rem">
    {{ macros.title_href(feed.resolved_title or feed.url, url_for('.entries', feed=feed.url), feed.link) }}
  </h2>

  {{ macros.subtitle(feed.subtitle) }}

  {% set next_index = loop.index if not loop.last else loop.index - 1 -%}
  {% set next = url_for('.feeds', **request.args) + '#feed-' + (next_index|string) %}
  <form action="{{ url_for('.feed_actions') }}" method="post"
    hx-target="closest form"
    hx-target-419="this"

    class="actions my-2">
    {#- TODO: aria stuff #}
    {% block feed_actions scoped %}

    {{ macros.csrf_token_field() }}
    {{ macros.feed_enabled_button(feed) }}
    {{ macros.change_feed_title_button(feed) }}
    {{ macros.delete_feed_button(feed) }}

    <div class="icons">
    {{ macros.feed_url_button(feed) }}
    {{ macros.feed_error_button(feed) }}
    </div>

    <input type="hidden" name="feed-url" value="{{ feed.url }}">
    <input type="hidden" name="next" value="{{ next }}">

  {% endblock %}
  </form>

</div>

{% else %}
  <p>no entries found</p>
{% endfor %}


<nav aria-label="page navigation">
  {{ macros.pagination_top() }}
</nav>


{% endblock %}
