

{%- macro input(field, icon=none, class=none) %}
<div class="row mb-3{% if class %} {{ class }}{% endif %}">
  <div class="col-md-12 input-group{% if field.errors %} has-validation{% endif %}">
    {% if icon -%}
    <span class="input-group-text"><i class="bi bi-{{icon}}"></i></span>
    {%- endif %}
    {{ field(
      class="form-control" + (' is-invalid' if field.errors else ''),
      placeholder=field.label.text) }}
    {%- if field.errors %}
    <div class="invalid-feedback">
      {%- for error in field.errors %}
        {{ error }}
      {%- endfor %}
    </div>
    {%- endif %}
  </div>
</div>
{%- endmacro %}


{%- macro radio(field) %}
<fieldset class="row mb-1">
  <legend class="col-form-label col-sm-2 pt-0">{{ field.label.text }}</legend>
  <div class="col-sm-10">
    {%- for option in field %}
    <div class="form-check form-check-inline">
      {{ option(class="form-check-input") }}
      {{ option.label(class="form-check-label") }}
    </div>
    {%- endfor %}
  </div>
</fieldset>
{%- endmacro %}


{%- macro bs_file_icon(mimetype) -%}
{%- set type = (mimetype or '').partition('/')[0] -%}
{%- if type == 'audio' -%} file-earmark-music
{%- elif type == 'image' -%} file-earmark-image
{%- elif type == 'video' -%} file-earmark-play
{%- elif type == 'text' -%} file-earmark-text
{%- else -%} file-earmark
{%- endif -%}
{%- endmacro -%}
