
{% macro filter_form(form) %}
<ul class="nav mb-3 small filter-presets">
  {%- for preset in form.presets %}
  <li class="nav-item">
    <a
      href="{{ url_for(request.endpoint, **preset.args) }}"
      class="nav-link{% if preset.active %} active{% endif %}"
      {%- if preset.active %}
      aria-current="page"
      {%- endif %}
    >
      {{ preset.name }}
    </a>
  </li>
  {%- endfor %}
  <li class="nav-item">
    <a
      href="#filters"
      class="nav-link dropdown-toggle{% if not form.active_presets %} active{% endif %}"
      data-bs-toggle="collapse"
      role="button"
      aria-expanded="false"
      aria-controls="filters"
    >
      more
    </a>
  </li>
</ul>

<form>
  <div class="collapse mb-3" id="filters">
    {{ caller() }}
    <button type="submit" class="btn btn-primary mt-2">go</button>
  </div>
</form>
{% endmacro %}


{%- macro filter_radio(field) %}
<fieldset class="row mb-1">
  <legend class="col-form-label col-sm-2 pt-0">{{ field.label.text }}</legend>
  <div class="col-sm-10">
    {%- for option in field %}
    <div class="form-check form-check-inline">
      {{ option(class="form-check-input") }}
      {{ option.label(class="form-check-label") }}
    </div>
    {%- endfor %}
  </div>
</fieldset>
{%- endmacro %}


{%- macro bs_file_icon(mimetype) -%}
{%- set type = (mimetype or '').partition('/')[0] -%}
{%- if type == 'audio' -%} file-earmark-music
{%- elif type == 'image' -%} file-earmark-image
{%- elif type == 'video' -%} file-earmark-play
{%- elif type == 'text' -%} file-earmark-text
{%- else -%} file-earmark
{%- endif -%}
{%- endmacro -%}
