
{% macro flashed_messages() %}
{%- if get_flashed_messages() %}
<ul class="list-unstyled">
{%- for category, message in get_flashed_messages(with_categories=true) %}
  <li class="alert alert-{{ category }}">{{ message }}</li>
{%- endfor %}
</ul>
{%- endif %}
{% endmacro %}


{% macro csrf_token_field() -%}
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
{%- endmacro %}


{% macro filter_form(form) %}
<ul class="nav mb-3 small filter-presets">
  {%- for preset in form.presets %}
  <li class="nav-item">
    <a
      href="{{ url_for(request.endpoint, **preset.args) }}"
      class="nav-link{% if preset.active %} active{% endif %}"
      {%- if preset.active %}
      aria-current="page"
      {%- endif %}
    >
      {{ preset.name }}
    </a>
  </li>
  {%- endfor %}
  <li class="nav-item">
    <a
      href="#filters"
      class="nav-link dropdown-toggle{% if not form.active_presets %} active{% endif %}"
      data-bs-toggle="collapse"
      role="button"
      aria-expanded="false"
      aria-controls="filters"
    >
      more
    </a>
  </li>
</ul>

<form>
  <div class="collapse mb-3" id="filters">
    {{ caller() }}
    <button type="submit" class="btn btn-primary mt-2">go</button>
  </div>
</form>
{% endmacro %}


{%- macro filter_radio(field) %}
<fieldset class="row mb-1">
  <legend class="col-form-label col-sm-2 pt-0">{{ field.label.text }}</legend>
  <div class="col-sm-10">
    {%- for option in field %}
    <div class="form-check form-check-inline">
      {{ option(class="form-check-input") }}
      {{ option.label(class="form-check-label") }}
    </div>
    {%- endfor %}
  </div>
</fieldset>
{%- endmacro %}


{% macro toggle_button(state, post_url, name, states, disabled_element='this') -%}
{%- set value = states[not state][0] -%}
{%- set label = states[not state][1] -%}
{%- set icon = states[not state][2] -%}
<button
  type="submit"
  name="{{ name }}"
  value="{{ value }}"
  hx-post="{{ post_url }}"
  hx-disabled-elt="{{ disabled_element }}"
  class="btn btn-outline-secondary{% if state %} active{% endif %}"
  {%- if icon %}
  title="{{ label }}"
  {%- endif %}
  {%- if state %}
  aria-pressed="true"
  {%- endif %}
  {{ kwargs | xmlattr(false) }}
>
  <span class="label">
    {%- if icon %}
    <i class="bi bi-{{ icon }}"></i>
    <span class="visually-hidden">
    {%- endif %}
      {{ label }}
    {%- if icon %}
    </span>
    {%- endif %}
  </span>
  <div class="spinner-border htmx-indicator" role="status">
    <span class="visually-hidden">loading...</span>
  </div>
</button>
{% endmacro %}


{% macro feed_enabled_button(feed) %}
{%- if not feed.url.startswith('reader:') %}
{{ toggle_button(
  feed.updates_enabled,
  url_for('.feed_actions'),
  'enabled',
  (['disable', 'disable'], ['enable', 'enable']),
  style="width: 5rem",
) }}
{%- endif %}
{% endmacro %}


{% macro entry_read_button(entry) -%}
{{ toggle_button(
  entry.read,
  url_for('.entry_actions'),
  'read',
  (['unread', 'mark as unread', 'check-circle-fill'],
    ['read', 'mark as read', 'check-lg']),
  style="width: 4rem",
) }}
{%- endmacro %}


{% macro entry_important_button(entry) -%}
<div class="btn-group" role="group" aria-label="importance">
{{ toggle_button(
  entry.important is true,
  url_for('.entry_actions'),
  'important',
  (['clear', 'clear important', 'star-fill'],
    ['important', 'mark as important', 'star']),
  disabled_element="this, next button",
  style="width: 2rem",
) }}
{{ toggle_button(
  entry.important is false,
  url_for('.entry_actions'),
  'important',
  (['clear', "clear don't care", 'arrow-down-circle-fill'],
    ['unimportant', "don't care", 'arrow-down']),
  disabled_element="this, previous button",
  style="width: 2rem",
) }}
</div>
{%- endmacro %}


{%- macro feed_updated(feed) %}
{%- set updated = feed.updated or feed.last_updated -%}
{#- TODO: updated should be a tooltip #}
{#- TODO: babel.format_timedelta(..., format='narrow') -> 3h #}
<li class="list-inline-item" title="{{ updated or '' }}">
  {{ updated | humanize_naturaltime if updated else 'not updated' }}
</li>
{%- endmacro %}


{% macro feed_author(feed) %}
{%- set author = feed.author if feed.author != feed.resolved_title else none -%}
{%- if author %}
<li class="list-inline-item">
  by {{ author }}
</li>
{%- endif %}
{% endmacro %}


{% macro entry_feed(entry) %}
<li class="list-inline-item">
  <a class="text-decoration-none" href="{{ url_for('.entries', feed=entry.feed.url) }}">
    {{ entry.feed_resolved_title or entry.feed.url }}
  </a>
</li>
{% endmacro %}


{% macro entry_published(entry) %}
{%- set published = entry.published or entry.updated_not_none -%}
{#- TODO: published should be a tooltip #}
{#- TODO: babel.format_timedelta(..., format='narrow') -> 3h #}
<li class="list-inline-item" title="{{ published }}">
  {{ published | humanize_naturaltime }}
</li>
{% endmacro %}


{% macro entry_author(entry) %}
{%- set author = entry.author or entry.feed.author -%}
{%- set author = author if author != entry.feed_resolved_title else none -%}
{%- if author %}
<li class="list-inline-item">
  by {{ author }}
</li>
{%- endif %}
{% endmacro %}


{% macro title_href(text, href=none, external=none) %}
{%- set text = text | truncate(95) -%}

{%- macro maybe_href(text, href) %}
  {%- if href %}<a href="{{ href }}" class="text-decoration-none">{% endif -%}
  {{ text }}
  {%- if href %}</a>{% endif -%}
{%- endmacro %}

{%- if not external %}
  {{ maybe_href(text, href) }}
{%- else %}
  {%- set first, _, last = text.strip().rpartition(' ') -%}
  {{ maybe_href(first, href) }}
  <span class="text-nowrap">
    <span class="me-1">
      {{ maybe_href(last, href) }}
    </span>
    <a href="{{ external }}" target="_blank" class="text-nowrap small" title="external">
      <i class="bi bi-box-arrow-up-right text-secondary"></i>
    </a>
  </span>
{%- endif %}

{%- endmacro %}


{% macro subtitle(text) %}
{%- set text = (text or '') | striptags | trim -%}
{%- if text %}
<p class="small mb-2">
  {{ text | truncate(223) }}
</p>
{%- endif %}
{% endmacro %}


{%- macro bs_file_icon(mimetype) -%}
{%- set type = (mimetype or '').partition('/')[0] -%}
{%- if type == 'audio' -%} file-earmark-music
{%- elif type == 'image' -%} file-earmark-image
{%- elif type == 'video' -%} file-earmark-play
{%- elif type == 'text' -%} file-earmark-text
{%- else -%} file-earmark
{%- endif -%}
{%- endmacro -%}


{% macro pagination_top() %}
<ul class="pagination">
  <li class="page-item">
    <a href="#" class="page-link">
      top<span aria-hidden="true" class="ms-2 small">⌃</span>
    </a>
  </li>
</ul>
{%- endmacro %}
